.pane, .dashboard{
  height: 100vh;
  overflow-y: auto;
}

.pane{
  background-color: #353b48;
  color: #ffffff;
}

.site_icon_holder{
  width: 100%;
  height: 15%;
  padding-top: 5%;
}

hr{
  border:0.1px solid #fff;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #353b48;
    border: 1px solid #dedede;
    border-left: 0;
    border-right: 0;
    text-align: left;
}

.list-group-item:first-child{
  border-top: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-left: 0;
    border-right: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.admin_product_view{
  height: 70px;
  width: 70px;
}
