@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

.remove-btn{
  /* background-color: white; */
  width: 100%;
}

.clear-btn-container{
  padding: 0;
  background-color: #353b48;
}


.clear-btn-container button{
  height: 100%;
}

.cart-remove-button{
  background-color: #353b48;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

.cart-remove-button:hover{
  background-color: #dee2e6;
  color: #353b48;
}

.clear-btn-container:hover{
  background-color: #dee2e6;
  color: #353b48;
}

.table td:not(.table-items) {
  padding: 0;
  /* padding-left: 10px; */
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.remove{
  width: 15%;
  padding: 0;
}

.remove-all-form{
  padding: 0;
  margin: 0;
}

.empty-cart{
  border: 1px solid #d3d3d3;
  border-top: 0px;
  background-color: #f2f3f4;
  height: 80vh;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  text-align: center;
  padding-top: 25vh;
  margin-bottom: 2vh;
  vertical-align: middle;
}

.empty-cart-text{
  padding-left: 15px;
  font-size: 45px;
  font-family: 'Pacifico', cursive;
  color: #ee5253;
}

.table-items{
  width: 30%;
  padding-left: 10px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table-price{
  width: 15%;
  text-align: center;
}

.table-quantity{
  width: 20%;
  text-align: center;
}

.table-total{
  width: 20%;
  text-align: center;
}

table{
  margin-bottom: 50px;
}

.table-footer{
  color: #495057;
  background-color: #e9ecef;
}

.style-caption{
  background-color: #353b48;
  color: #fff;
  min-width: 30%;
  height: 40px;
  margin-top: 15px;
}

.style-caption p{
  margin-bottom: 0;
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
}
