
.remove-btn{
  /* background-color: white; */
  width: 100%;
}

.clear-btn-container{
  padding: 0;
  background-color: #353b48;
}



.clear-btn-container button{
  height: 100%;
}

.cart-remove-button{
  background-color: #353b48;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

.cart-remove-button:hover{
  background-color: #dee2e6;
  color: #353b48;
}

.clear-btn-container:hover{
  background-color: #dee2e6;
  color: #353b48;
}

.table td {
   padding: 0;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.remove{
  width: 15%;
  padding: 0;
}

.remove-all-form{
  padding: 0;
  margin: 0;
}

.table-items{
  width: 30%;

}

.table-price{
  width: 15%;
  text-align: center;
}

.table-quantity{
  width: 20%;
  text-align: center;
}

.table-total{
  width: 20%;
  text-align: center;
}

table{
  margin-bottom: 50px;
}

.table-footer{
  color: #495057;
  background-color: #e9ecef;
}

.style-caption{
  background-color: #353b48;
  color: #fff;
  min-width: 30%;
  height: 40px;
  margin-top: 25px;
}

.style-caption p{
  margin-bottom: 0;
  height: 100%;
  padding-left: 5%;
}
