*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    min-height: 100vh;
}

nav{
    background-color: #353b48;
    height: 4rem;
    width: 100%;
}

.site-header {
    background-color: #353b48;
    /* -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
}

.site-header a {
    color: #f5f6fa;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}


.sections{
    padding: 0 20px;
    /* min-height: 1300px; */
    /* width: 100%; */
}

.category{
    margin: 5px 0;
}

.product{

}

.product-categories{
    border:1px solid #1d2124;
    border-radius: 5px;
}

.product-categories:hover{
    background-color: #1d2124;
    color: #f7f7f7;
}

.product-img{
    height: 350px;
    width: 94%;
    margin: 0 3%;
    border: 1px solid blue;
    border-radius: 5px;
}


.product-info{
    height: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.caption{
  font-size: 20px;
}

.price{
  font-size: 14px;
}




/*
* MEDIA QUERY.
*=============
*
*/

 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* .product{
      height: 400px;
    } */
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* .product{
      height: 400px;
    } */
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* .product{
      height: 400px;
    } */
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* .product{
      height: 400px;
    } */
 }
