@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    min-height: 100vh;
}


/* nav {
    background-color: #353b48;
    height: 4rem;
    width: 100%;
} */

p {
    font-family: 'Roboto', sans-serif;
}

hr {
    border: none;
    border-top: 1px solid #dedede;
    height: 2px;
}

ul li {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}

.footer-section-header {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 100;
    color: #ee5253;
    margin-left: 15px;
}

.modal-header-text {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ee5253;
    margin-left: 150px;
}

#modal-form-btns {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 30px;
}

.modal-btns {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main_product_img {
    height: 70vh;
}

.product_modal_main_img {
    /* width: 100%;
    height: 300px; */
}

#sub_img_holder {
    height: 30vh;
}

.product_modal_sub_img {
    height: 100px;
    width: 112px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.site-header {
    background-color: #353b48;
}

.site-header a {
    color: #f5f6fa;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.sections {
    padding: 0 20px;
}

.category {
    margin: 5px 0;
}

.product {}

.product-categories {
    border: 1px solid #1d2124;
    border-radius: 5px;
}

.product-categories:hover {
    background-color: #1d2124;
    color: #f7f7f7;
}

.product-img {
    height: 350px;
    width: 94%;
    margin: 0 3%;
    border: 1px solid blue;
    border-radius: 5px;
}

.product-info {
    height: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.caption {
    font-size: 20px;
}

.price {
    font-size: 14px;
}

.item-name {
    margin-top: 10px;
    font-size: 20px;
}

.description-box {
    min-height: 70px;
}

.item-description {
    font-size: 16px;
}

.item-price {
    font-size: 16px;
}

.banner {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    /* color: #ee5253; */
}

.card-desc {
    text-transform: capitalize;
    font-weight: bolder;
}