@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.glitch-wrapper {
  position: relative;
  background-image: url('../../media/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.glitch {
  color: white;
  font-size: 9rem;
  font-weight: lighter;
  font-family: 'Pacifico', cursive;
  text-transform: upercase;
  position: relative;
  margin: auto;
  display: inline-block;
  /* margin-top: 3.5rem; */
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.glitch::before {
  left: 2px;
  text-shadow: 0 0.5rem #49FC00;
  clip: rect(13px, 700px, 21rem, 0px);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -3px;
  text-shadow: 0.3rem 0 #ee5253;
  clip: rect(25px, 700px, 21rem, 0px);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  6.666666666666667% {
    clip: rect(6rem, 700px, 0px, 0);
  }
  10% {
    clip: rect(13rem, 700px, 124px, 0);
  }
  13.333333333333334% {
    clip: rect(7rem, 700px, 14px, 0);
  }
  16.666666666666664% {
    clip: rect(10rem, 700px, 82px, 0);
  }
  20% {
    clip: rect(9rem, 700px, 74px, 0);
  }
  23.333333333333332% {
    clip: rect(108px, 700px, 232px, 0);
  }
  26.666666666666668% {
    clip: rect(126px, 700px, 283px, 0);
  }
  30% {
    clip: rect(14rem, 700px, 100px, 0);
  }
  33.33333333333333% {
    clip: rect(10rem, 700px, 570px, 0);
  }
  36.666666666666664% {
    clip: rect(12rem, 700px, 83px, 0);
  }
  40% {
    clip: rect(13rem, 700px, 65px, 0);
  }
  43.333333333333336% {
    clip: rect(2rem, 700px, 117px, 0);
  }
  46.666666666666664% {
    clip: rect(7rem, 700px, 37px, 0);
  }
  50% {
    clip: rect(20rem, 700px, 112px, 0);
  }
  53.333333333333336% {
    clip: rect(21rem, 700px, 83px, 0);
  }
  56.666666666666664% {
    clip: rect(15rem, 700px, 31px, 0);
  }
  60% {
    clip: rect(14rem, 700px, 106px, 0);
  }
  63.33333333333333% {
    clip: rect(12rem, 700px, 125px, 0);
  }
  66.66666666666666% {
    clip: rect(5rem, 700px, 105px, 0);
  }
  70% {
    clip: rect(14rem, 700px, 137px, 0);
  }
  73.33333333333333% {
    clip: rect(16rem, 700px, 61px, 0);
  }
  76.66666666666667% {
    clip: rect(15rem, 700px, 127px, 0);
  }
  80% {
    clip: rect(21rem, 700px, 147px, 0);
  }
  83.33333333333334% {
    clip: rect(2rem, 700px, 48px, 0);
  }
  86.66666666666667% {
    clip: rect(10rem, 700px, 14px, 0);
  }
  90% {
    clip: rect(11.3rem, 700px, 47px, 0);
  }
  93.33333333333333% {
    clip: rect(17rem, 700px, 16px, 0);
  }
  96.66666666666667% {
    clip: rect(18rem, 700px, 62px, 0);
  }
  100% {
    clip: rect(19px, 700px, 82px, 0);
  }
}
@keyframes glitch-anim {
   6.666666666666667% {
     clip: rect(6rem, 700px, 0px, 0);
   }
   10% {
     clip: rect(13rem, 700px, 124px, 0);
   }
   13.333333333333334% {
     clip: rect(7rem, 700px, 14px, 0);
   }
   16.666666666666664% {
     clip: rect(10rem, 700px, 82px, 0);
   }
   20% {
     clip: rect(9rem, 700px, 74px, 0);
   }
   23.333333333333332% {
     clip: rect(108px, 700px, 232px, 0);
   }
   26.666666666666668% {
     clip: rect(126px, 700px, 283px, 0);
   }
   30% {
     clip: rect(14rem, 700px, 100px, 0);
   }
   33.33333333333333% {
     clip: rect(10rem, 700px, 570px, 0);
   }
   36.666666666666664% {
     clip: rect(12rem, 700px, 83px, 0);
   }
   40% {
     clip: rect(13rem, 700px, 65px, 0);
   }
   43.333333333333336% {
     clip: rect(2rem, 700px, 117px, 0);
   }
   46.666666666666664% {
     clip: rect(7rem, 700px, 37px, 0);
   }
   50% {
     clip: rect(20rem, 700px, 112px, 0);
   }
   53.333333333333336% {
     clip: rect(21rem, 700px, 83px, 0);
   }
   56.666666666666664% {
     clip: rect(15rem, 700px, 31px, 0);
   }
   60% {
     clip: rect(14rem, 700px, 106px, 0);
   }
   63.33333333333333% {
     clip: rect(12rem, 700px, 125px, 0);
   }
   66.66666666666666% {
     clip: rect(5rem, 700px, 105px, 0);
   }
   70% {
     clip: rect(14rem, 700px, 137px, 0);
   }
   73.33333333333333% {
     clip: rect(16rem, 700px, 61px, 0);
   }
   76.66666666666667% {
     clip: rect(15rem, 700px, 127px, 0);
   }
   80% {
     clip: rect(21rem, 700px, 147px, 0);
   }
   83.33333333333334% {
     clip: rect(2rem, 700px, 48px, 0);
   }
   86.66666666666667% {
     clip: rect(10rem, 700px, 14px, 0);
   }
   90% {
     clip: rect(11.3rem, 700px, 47px, 0);
   }
   93.33333333333333% {
     clip: rect(17rem, 700px, 16px, 0);
   }
   96.66666666666667% {
     clip: rect(18rem, 700px, 62px, 0);
   }
   100% {
     clip: rect(19px, 700px, 82px, 0);
   }
}
@-webkit-keyframes glitch-anim-2 {
    6.666666666666667% {
      clip: rect(6rem, 700px, 0px, 0);
    }
    10% {
      clip: rect(13rem, 700px, 124px, 0);
    }
    13.333333333333334% {
      clip: rect(7rem, 700px, 14px, 0);
    }
    16.666666666666664% {
      clip: rect(10rem, 700px, 82px, 0);
    }
    20% {
      clip: rect(9rem, 700px, 74px, 0);
    }
    23.333333333333332% {
      clip: rect(108px, 700px, 232px, 0);
    }
    26.666666666666668% {
      clip: rect(126px, 700px, 283px, 0);
    }
    30% {
      clip: rect(14rem, 700px, 100px, 0);
    }
    33.33333333333333% {
      clip: rect(10rem, 700px, 570px, 0);
    }
    36.666666666666664% {
      clip: rect(12rem, 700px, 83px, 0);
    }
    40% {
      clip: rect(13rem, 700px, 65px, 0);
    }
    43.333333333333336% {
      clip: rect(2rem, 700px, 117px, 0);
    }
    46.666666666666664% {
      clip: rect(7rem, 700px, 37px, 0);
    }
    50% {
      clip: rect(20rem, 700px, 112px, 0);
    }
    53.333333333333336% {
      clip: rect(21rem, 700px, 83px, 0);
    }
    56.666666666666664% {
      clip: rect(15rem, 700px, 31px, 0);
    }
    60% {
      clip: rect(14rem, 700px, 106px, 0);
    }
    63.33333333333333% {
      clip: rect(12rem, 700px, 125px, 0);
    }
    66.66666666666666% {
      clip: rect(5rem, 700px, 105px, 0);
    }
    70% {
      clip: rect(14rem, 700px, 137px, 0);
    }
    73.33333333333333% {
      clip: rect(16rem, 700px, 61px, 0);
    }
    76.66666666666667% {
      clip: rect(15rem, 700px, 127px, 0);
    }
    80% {
      clip: rect(21rem, 700px, 147px, 0);
    }
    83.33333333333334% {
      clip: rect(2rem, 700px, 48px, 0);
    }
    86.66666666666667% {
      clip: rect(10rem, 700px, 14px, 0);
    }
    90% {
      clip: rect(11.3rem, 700px, 47px, 0);
    }
    93.33333333333333% {
      clip: rect(17rem, 700px, 16px, 0);
    }
    96.66666666666667% {
      clip: rect(18rem, 700px, 62px, 0);
    }
    100% {
      clip: rect(19px, 700px, 82px, 0);
    }
}
#thank_you_text{
  margin-top: -5rem;
}
