.header {
  margin-bottom: 1.5rem;
}

div p {
  margin-bottom: 0.5rem;
}

.banner-container {
  border: 1px solid #1d2124;
  margin-bottom: 15px;
}

#content{
  min-height: 90vh;
}

#user-email-insertion {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  min-height: 60px;
  margin-bottom: -25px;
  margin-top: 25px;
}

form {
  display: inline-block;
}


/* Glitch Css Effect, and over laystuff.*/
h1{
  font-size: 23px;
  text-align: left;
}

.home-page-section-header{
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  color: #ee5253;
  margin-left: 15px;
}

.infograph{
  /* border: 1px solid #d3d3d3; */
  font-size: 19px;
  min-height: 50vh;
  padding: 30px;
}
