.header {
  margin-bottom: 1.5rem;
}

div p {
  margin-bottom: 0.5rem;
}

.banner-container {
  border: 1px solid #1d2124;
  margin-bottom: 15px;
}

#content{
  min-height: 90vh;
}

#user-email-insertion {
  margin: 0 auto;
  background-image: url('../../media/images/gradient.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  /* border: 1px solid black; */
  text-align: center;
  min-height: 100px;
  margin-bottom: -25px;
  opacity: 0.97;
}

#user-email-insertion form{
  margin-top: 25px;
}

#email-submission-newsletter{
  color: white;
  background-color: #353b48;
  margin-top: -3px;
  margin-left: -4px;
}

form {
  display: inline-block;
}


/* Glitch Css Effect, and over laystuff.*/
h1{
  font-size: 25px;
  text-align: left;
}

.home-page-section-header{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 100;
  color: #ee5253;
  margin-left: 15px;
  margin-top: 20%;
}

.sign-up-header{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  font-weight: 100;
  color: #ee5253;
  margin-bottom: -2px;
}

.infograph{
  font-size: 20px;
  min-height: 50vh;
  padding: 25px;
}

/* Design images. */
.design_images{
  height: 80%;
  width: 80%;
  margin: 10%;
}

.index-form-elements{
  height: 45px;
  border-radius: 0;
}
