.login-page-headerr{
  margin-top: 20px;
  font-size: 20px;
}

form{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10vh;
  padding: 15px 15px 5px 15px;
  width: 25%;
  min-height: 65vh;
  border: 1px solid black;
}

div label{
  margin: 0 0 2px 0;
}

div input{
  margin: 0 0 10px 0;
}

#form-submit-btn{
  margin-top: 30px;
  border: 1px solid #353b48;
}
