
/* Animated Messages Notification. */
#notification-pane{
  display: none;
  float: right;
  max-height: 70px;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 50px;
  right: 5px;
  width: 320px;
  z-index: 1000;
}

.notification{
  border: 1px solid #62BF49;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #A2D989;
}

.notification p{
  color: #011640;
  font-size: 20px;
  margin: 0px;
  padding: 0 10px;
  vertical-align: middle;
}

.nav-pills{
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-left: 15px;
}

.nav-item{
background-color: #353b48;
color: #f5f6fa;
height: 35px;
vertical-align: middle;
margin: 5px;
padding-top: -10px;
border-radius: 5px;
}

a{
  text-decoration: none;
}

.pt-5, .py-5 {
    padding-top: 0rem !important;
}
